# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [30]:
# Your code here
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
vehicle_insurance = pd.read_csv(url)


dimensions = vehicle_insurance.shape
number_of_rows = dimensions[0]
number_of_columns = dimensions[1]

vehicle_insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [43]:
columns_1 = vehicle_insurance.columns
new_columns_1 = [col.lower().replace(' ', '_') for col in columns_1]
vehicle_insurance.columns = new_columns_1

vehicle_insurance.rename(columns={'st': 'state'}, inplace=True)

vehicle_insurance['gender'] = vehicle_insurance['gender'].fillna('unknown')
vehicle_insurance['income'] = vehicle_insurance.income.fillna(vehicle_insurance.income.mean())

# Step 1: Ensure the column is treated as strings
vehicle_insurance['customer_lifetime_value'] = vehicle_insurance['customer_lifetime_value'].astype(str)

# Step 2: Remove percentage signs
vehicle_insurance['customer_lifetime_value'] = vehicle_insurance['customer_lifetime_value'].str.rstrip('%')

# Step 3: Convert to numeric values, handling NaNs
vehicle_insurance['customer_lifetime_value'] = pd.to_numeric(vehicle_insurance['customer_lifetime_value'], errors='coerce')

# Step 4: Handle NaN values (e.g., fill with zero)
vehicle_insurance['customer_lifetime_value'] = vehicle_insurance['customer_lifetime_value'].fillna(0)

# Step 5: Identify the maximum value in customer_lifetime_value
max_value = vehicle_insurance['customer_lifetime_value'].max()

# Step 6: Rescale the values to be within 0 to 100
vehicle_insurance['customer_lifetime_value'] = (vehicle_insurance['customer_lifetime_value'] / max_value) * 100

vehicle_insurance['customer_lifetime_value'] = vehicle_insurance.customer_lifetime_value.fillna(vehicle_insurance.customer_lifetime_value.mean())

vehicle_insurance.head(50)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,unknown,Master,0.000000,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,11.999225,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,22.156086,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,13.144774,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,9.220207,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,14.194236,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,9.250847,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,12.405927,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,41.480030,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,12.701764,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,8.147280,0.0,67.0,1/0/00,Personal Auto,Four-Door Car,482.400000
11,VQ65197,California,unknown,College,14.092630,0.0,110.0,1/0/00,Personal Auto,SUV,528.000000
12,DP39365,California,unknown,Master,15.126901,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,unknown,High School or Below,15.161667,99845.0,110.0,1/1/00,Corporate Auto,SUV,528.000000
14,IL66569,California,unknown,College,9.256921,83689.0,70.0,1/2/00,Corporate Auto,Four-Door Car,307.139132
15,BW63560,Oregon,unknown,Bachelor,12.830637,24599.0,64.0,1/1/00,Corporate Auto,Four-Door Car,42.920271
16,FV94802,Nevada,unknown,High School or Below,4.412962,25049.0,67.0,1/0/00,Personal Auto,Two-Door Car,454.245098
17,OE15005,California,unknown,College,6.782664,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
18,WC83389,Oregon,unknown,College,9.817211,51148.0,72.0,1/0/00,Personal Auto,Four-Door Car,308.981664
19,FL50705,California,unknown,High School or Below,14.033180,66140.0,101.0,1/0/00,Corporate Auto,Four-Door Car,484.800000
20,ZK25313,Oregon,unknown,High School or Below,4.937634,57749.0,74.0,1/0/00,Personal Auto,Two-Door Car,355.200000
21,QK46697,Washington,M,Bachelors,10.619693,61040.0,79.0,1/1/00,Personal Auto,Two-Door Car,20.382876
22,YH23384,Arizona,unknown,Bachelor,41.480030,14072.0,71.0,1/0/00,Personal Auto,Four-Door Car,511.200000
23,TZ98966,Nevada,unknown,Bachelor,4.212371,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
24,HM55802,California,unknown,Bachelor,4.112514,17870.0,61.0,1/0/00,Corporate Auto,Four-Door Car,439.200000
25,FS42516,Oregon,unknown,College,9.974918,97541.0,72.0,1/0/00,Personal Auto,Four-Door Car,389.185006
26,US89481,California,unknown,Bachelor,6.784607,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
27,HS14476,Washington,M,College,15.751429,29723.0,80.0,1/0/00,Personal Auto,Four-Door Car,20.985105
28,GE62437,Arizona,unknown,College,22.182095,86584.0,111.0,1/2/00,Personal Auto,Four-Door Car,532.800000
29,EJ77678,Oregon,unknown,Master,5.562235,75690.0,80.0,1/1/00,Personal Auto,Four-Door Car,384.000000
30,SV85652,Arizona,unknown,College,4.219923,23158.0,63.0,1/1/00,Personal Auto,Four-Door Car,322.294043
31,UL64533,Nevada,unknown,High School or Below,32.622624,65999.0,237.0,1/0/00,Corporate Auto,Luxury SUV,615.927769
32,PF41800,California,unknown,Bachelor,8.106585,0.0,65.0,1/0/00,Personal Auto,Four-Door Car,308.150890
33,HD95276,Washington,F,College,8.145354,0.0,130.0,1/0/00,Personal Auto,SUV,23.820158
34,SK67821,Oregon,unknown,Bachelor,8.480675,37260.0,62.0,1/0/00,Corporate Auto,Four-Door Car,15.437681
35,YV55495,Arizona,unknown,High School or Below,9.875486,68987.0,71.0,1/0/00,Personal Auto,Four-Door Car,204.475147
36,KY38074,California,unknown,Bachelor,23.882687,42305.0,117.0,1/0/00,Personal Auto,Four-Door Car,561.600000
37,DM79012,Oregon,unknown,Master,12.689383,65706.0,91.0,1/0/00,Personal Auto,Four-Door Car,436.800000
38,CM61827,Oregon,unknown,Bachelor,5.312390,0.0,90.0,1/0/00,Personal Auto,Two-Door Car,648.000000
39,WC35801,Arizona,unknown,High School or Below,4.335194,53243.0,66.0,1/2/00,Personal Auto,Four-Door Car,157.397849
40,QG25316,Nevada,unknown,High School or Below,4.559427,0.0,70.0,1/1/00,Corporate Auto,Two-Door Car,484.318536
41,MB98372,Oregon,unknown,College,4.763983,50071.0,71.0,1/0/00,Corporate Auto,Two-Door Car,18.918935
42,IL19217,California,unknown,Bachelor,6.771944,60021.0,99.0,1/0/00,Personal Auto,Four-Door Car,882.871945
43,SR38658,Arizona,unknown,High School or Below,21.029060,43244.0,103.0,1/0/00,Personal Auto,Sports Car,494.400000
44,YD87931,Washington,M,Doctor,8.512892,46896.0,35354.0,1/1/00,Personal Auto,Four-Door Car,31.707317
45,HG65722,Oregon,unknown,Doctor,22.038615,10105.0,172.0,1/3/00,Personal Auto,SUV,0.517753
46,BU27331,Arizona,unknown,Bachelor,7.682268,0.0,73.0,1/3/00,Personal Auto,Four-Door Car,579.165954
47,XM45289,Oregon,unknown,High School or Below,9.480266,23218.0,71.0,1/0/00,Personal Auto,Two-Door Car,447.793440
48,KP34198,California,unknown,Bachelor,5.748794,0.0,92.0,1/0/00,Corporate Auto,Four-Door Car,529.624084
49,SH90947,Arizona,unknown,High School or Below,3.944671,0.0,62.0,1/0/00,Personal Auto,Four-Door Car,313.023175

In [37]:
state_mapping = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'Cali': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'Fla': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'Penn': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
}

# Step 2: Replace values using the mapping dictionary
vehicle_insurance['state'] = vehicle_insurance['state'].replace(state_mapping)

In [42]:
vehicle_insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     4008 non-null   object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    4008 non-null   float64
 5   income                     4008 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

In [8]:
vehicle_insurance.isna().sum()

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [44]:
# summary_stats = vehicle_insurance.describe()
# mean = vehicle_insurance.mean()
# median = vehicle_insurance.median()
# mode = vehicle_insurance.mode().iloc[0]
# std_dev = vehicle_insurance.std()

print("Summary statistics: " + vehicle_insurance.describe())
# print("Mean: " + str(mean))

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U20'), dtype('float64')) -> None

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [48]:
# Your code here
location_freq = vehicle_insurance['state'].value_counts()

top_5_less_common = location_freq.tail(5)

print(top_5_less_common)

state
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [49]:
# Your code here
policy_counts = vehicle_insurance['policy_type'].value_counts()
policy_with_highest_sales = policy_counts.idxmax()
print(policy_with_highest_sales)

Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [51]:
# Your code here
personal_auto = vehicle_insurance.loc[vehicle_insurance['policy_type'] == 'Personal Auto']
corporate_auto = vehicle_insurance.loc[vehicle_insurance['policy_type'] == 'Corporate Auto']

avg_income_personal_auto = personal_auto['income'].mean()
avg_income_corporate_auto = corporate_auto['income'].mean()

print("Average Income for Personal Auto Policies:", avg_income_personal_auto)
print("Average Income for Corporate Auto Policies:", avg_income_corporate_auto)

Average Income for Personal Auto Policies: 38180.69871794872
Average Income for Corporate Auto Policies: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here